<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="serverip" value="172.29.2.228"/>
    <add key="remotingport" value="20602"/>
    <add key="wcfport" value="20612"/>
    <add key="currentip" value="172.29.2.228"/>
  </appSettings>
</configuration>