<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="serverip" value="192.168.1.49"/>
    <add key="serverport" value="20601"/>
    <add key="matchduration" value="180000"/>
  </appSettings>
</configuration>