<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IRemoteAdmin" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.29.2.92:20612/StudentService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IRemoteAdmin" contract="PlayerService.IRemoteAdmin"
                name="WSHttpBinding_IRemoteAdmin">
                <identity>
                    <userPrincipalName value="MSI\Rafael" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>